/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: inherit;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: white;
  background-color: #05011b;
}

/* Utility */
.fontAcme {
  font-family: "Acme", sans-serif;
}
/* Navigation */

.navigation {
}

.navigation__checkbox {
  display: none;
}

.navigation__btn {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: whitesmoke;
  text-align: center;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 3000;
  cursor: pointer;
  overflow: hidden;
}

.navigation__icon {
  display: inline-block;
  width: 3rem;
  height: 0.3rem;
  background-color: yellowgreen;
  margin-top: 3.5rem;
  position: relative;
  transition: all 0.2s ease;
}

.navigation__icon::before {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 0.3rem;
  background-color: yellowgreen;
  position: absolute;
  left: 0;
  top: -0.8rem;
  transition: all 0.1s ease;
}

.navigation__icon::after {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 0.3rem;
  background-color: yellowgreen;
  position: absolute;
  left: 0;
  top: 0.8rem;
  transition: all 0.1s ease;
}

.navigation__btn:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__btn:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__checkbox:checked ~ .navigation__btn > .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked ~ .navigation__btn > .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked ~ .navigation__btn > .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.navigation__background {
  width: 6rem;
  height: 6rem;
  background: rgba(153, 205, 50, 0.9);
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 2000;
  transition: transform 0.6s;
}

.navigation__nav {
  display: inline-block;
  position: fixed;
  top: 21%;
  right: 2%;
  z-index: 2500;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.8s ease;
  padding: 0.8rem;
}

.navigation__list {
  text-align: left;
  list-style: none;
}

.navigation__item {
  margin-bottom: 0.3rem;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 0.8rem 1.5rem;
  border-radius: 0.4rem;
  background: linear-gradient(120deg, transparent 50%, white 50%);
  background-size: 230%;
  transition: all 0.4s ease-in-out;
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: yellowgreen;
  transform: translateX(0.8rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(10) translate(1rem, 0.1rem);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  height: 100%;
}

/* Navigation */

/* Header */

.header {
  height: 100vh;
  background-image: url("../img/heroBG1.png"), url("../img/heroBG2.png");
  background-size: 100%, cover;
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll, fixed;
  position: relative;
  margin-bottom: 8rem;
}

.header__content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box {
  font-family: "Acme", sans-serif;
  text-transform: uppercase;
  line-height: 8rem;
  margin-bottom: 5rem;
}

.text-box__hello {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1.1rem;
}

.text-box__name {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
}

.social {
  font-size: 5rem;
}

.social__link:link,
.social__link:visited {
  display: inline-block;
  text-decoration: none;
  color: white;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: relative;
}

.social__link::after {
  content: "";
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: white;
  transform: scale(0);
  transition: all 0.3s ease-in;
}

.social__icon {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.social__link:hover::after {
  transform: scale(1);
}

.social__link:hover .social__icon--linkedin {
  color: rgb(31, 93, 207);
}

.social__link:hover .social__icon--github {
  color: rgb(31, 29, 29);
}

.mouse-scroll {
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mouse-scroll__link {
  display: inline-block;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.mouse-scroll__link::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(173, 226, 67);
  transform: scale(0);
  transition: all 0.3s ease-in;
}

.mouse-scroll__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 2.6rem;
  z-index: 1;
}

.mouse-scroll:hover .mouse-scroll__link::after {
  transform: scale(1);
}

/* Header */

/* Project */

.project {
  margin-bottom: 10rem;
  text-align: center;
}

.project__section-heading {
  font-size: 5rem;
  margin-bottom: 10rem;
}

.project__section-heading:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 19%;
  height: 0.3rem;
  background-color: yellowgreen;
}

.project__box {
  text-align: center;
  margin: 0 20rem;
  padding-top: 5rem;
}

.project__vdo {
  border-radius: 1rem;
  margin-bottom: 5rem;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.12),
    5px 6px 5px rgba(0, 0, 0, 1);
}
.project__vdo--dim {
  width: 50%;
}

.project__info {
  font-size: 2.9rem;
  text-align: center;
  font-weight: 300;
}

.project__title {
  display: inline-block;
  font-size: 3.4rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  background: linear-gradient(120deg, yellow, yellowgreen);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.project__para {
  line-height: 4rem;
  margin-bottom: 1.5rem;
}

.project__para span {
  display: block;
}

.project__btn:link,
.project__btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.2rem;
  color: yellowgreen;
  padding: 0.3rem;
  border-radius: 0.2rem;
  border-bottom: 0.1rem solid yellowgreen;
  transition: all 0.5s ease;
}

.project__btn:hover {
  background-color: rgba(153, 205, 50, 0.904);
  color: white;
}

/* Project */

/* Bio */

.bio {
  margin-bottom: 8rem;
}

.bio-box {
  padding: 5rem 4rem;
  width: 85%;
  margin: 0 auto;
}

.bio-heading {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 8rem;
}

.bio-heading:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 0.3rem;
  background-color: yellowgreen;
}

.img {
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  margin-right: 5rem;
}

.img-content {
  width: 26rem;
}

.bio__content {
  font-size: 3.2rem;
  text-align: justify;
  font-weight: 300;
}

/* Footer */

.footer {
  text-align: center;
}

.footer-content {
}

.footer-heading {
  font-family: "Ruthie", cursive;
  font-size: 7rem;
  position: relative;
  margin-bottom: 4rem;
}

.footer-heading::before {
  content: "";
  display: inline-block;
  width: 35%; /* //////use calc here importaaaaaaaaaaaaaannnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnttttttttttttttttttttttttttttttttttttttttttttt*/
  height: 0.3rem;
  background-color: yellowgreen;
  position: absolute;
  top: 50%;
  left: 1%;
}

.footer-heading::after {
  content: "";
  display: inline-block;
  width: 35%;
  height: 0.3rem;
  background-color: yellowgreen;
  position: absolute;
  top: 50%;
  right: 1%;
}

.footer__mail-box {
  margin: 0 auto;
  margin-bottom: 3rem;
  margin-bottom: 7rem;
}

.footer__mail-para {
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.footer__link:link,
.footer__link:visited {
  font-size: 2.8rem;
  text-decoration: none;
  color: white;
  padding: 1.5rem 3rem;
  background-color: yellowgreen;
  border-radius: 3rem;
  position: relative;
  z-index: 1;
}

.footer__link::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 3rem;
  background-color: yellowgreen;
  z-index: -1;
  transition: all 0.5s ease;
}

.footer__link:hover::after {
  transform: scale(1.4, 1.4);
  opacity: 0;
}

.copyright {
  background-color: yellowgreen;
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem;
}
