/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 1200px) {
  html {
    font-size: 59.37%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 53.12%;
  }
}

body {
  display: inherit;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: white;
  background-color: #05011b;
}

/* Utility */
.font-acme {
  font-family: "Acme", sans-serif;
}

.margin-bottom-small {
  margin-bottom: 3rem;
}
.margin-bottom-medium {
  margin-bottom: 6rem;
}
.margin-bottom-large {
  margin-bottom: 9rem;
}

.margin-bottom-section {
  margin-bottom: 20rem;
}

/* Navigation */

.navigation {
}

.navigation__checkbox {
  display: none;
}

.navigation__btn {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: whitesmoke;
  text-align: center;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 3000;
  cursor: pointer;
  overflow: hidden;
}
@media (max-width: 600px) {
  .navigation__btn {
    width: 6rem;
    height: 6rem;
    top: 3rem;
    right: 1.8rem;
  }
}
@media (max-width: 525px) {
  .navigation__btn {
    width: 5rem;
    height: 5rem;
    top: 3rem;
    right: 1.8rem;
  }
}

.navigation__icon {
  display: inline-block;
  width: 3rem;
  height: 0.3rem;
  background-color: yellowgreen;
  margin-top: 3.5rem;
  position: relative;
  transition: all 0.2s ease;
}
@media (max-width: 600px) {
  .navigation__icon {
    margin-top: 2.9rem;
  }
}
@media (max-width: 525px) {
  .navigation__icon {
    margin-top: 2.5rem;
    width: 2.6rem;
  }
}

.navigation__icon::before {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 0.3rem;
  background-color: yellowgreen;
  position: absolute;
  left: 0;
  top: -0.8rem;
  transition: all 0.1s ease;
}
@media (max-width: 525px) {
  .navigation__icon::before {
    width: 2.6rem;
  }
}

.navigation__icon::after {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 0.3rem;
  background-color: yellowgreen;
  position: absolute;
  left: 0;
  top: 0.8rem;
  transition: all 0.1s ease;
}
@media (max-width: 525px) {
  .navigation__icon::after {
    width: 2.6rem;
  }
}

.navigation__btn:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__btn:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__checkbox:checked ~ .navigation__btn > .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked ~ .navigation__btn > .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked ~ .navigation__btn > .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.navigation__background {
  width: 6rem;
  height: 6rem;
  background: rgba(153, 205, 50, 0.9);
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 2000;
  transition: transform 0.6s;
}
@media (max-width: 600px) {
  .navigation__background {
    width: 5rem;
    height: 5rem;
    top: 3.5rem;
    right: 2.3rem;
  }
}
@media (max-width: 525px) {
  .navigation__background {
    width: 4rem;
    height: 4rem;
    top: 3.5rem;
    right: 2.3rem;
  }
}

.navigation__nav {
  display: inline-block;
  position: fixed;
  top: 19%;
  right: 1.5%;
  z-index: 2500;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.8s ease;
  padding: 0.8rem;
}
@media (max-width: 600px) {
  .navigation__nav {
    top: 11.5%;
    right: 1rem;
  }
}
@media (max-width: 525px) {
  .navigation__nav {
    top: 10.5%;
    right: 0.35rem;
  }
}

.navigation__list {
  text-align: left;
  list-style: none;
}

.navigation__item {
  margin-bottom: 0.3rem;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 0.8rem 1.5rem;
  border-radius: 0.4rem;
  background: linear-gradient(120deg, transparent 50%, white 50%);
  background-size: 230%;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 600px) {
  .navigation__link:link,
  .navigation__link:visited {
    font-size: 1.4rem;
    padding: 0.45rem 0.8rem;
  }
}
@media (max-width: 525px) {
  .navigation__link:link,
  .navigation__link:visited {
    font-size: 1.4rem;
    padding: 0.45rem 0.6rem;
  }
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: yellowgreen;
  transform: translateX(0.8rem);
}
@media (max-width: 600px) {
  .navigation__link::after {
    transform: translateX(0.6rem);
  }
}
@media (max-width: 525px) {
  .navigation__link::after {
    transform: translateX(0.4rem);
  }
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(10) translate(1rem, 0.1rem);
}
@media (max-width: 525px) {
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(13) translate(1rem, 0.2rem);
  }
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  height: 100%;
}

/* Navigation */

/* Header */

.header {
  height: 100vh;
  margin-bottom: 15rem;
  background-image: url("../img/heroBG1.png"), url("../img/heroBG2.png");
  background-size: 100%, cover;
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll, fixed;
  position: relative;
}

.header__content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media (max-width: 1200px) {
  .header__content {
    top: 36%;
  }
}
@media (max-width: 900px) {
  .header__content {
    top: 39%;
  }
}
@media (max-width: 665px) {
  .header__content {
    top: 40%;
  }
}
@media (max-width: 600px) {
  .header__content {
    top: 50%;
  }
}

.text-box {
  text-transform: uppercase;
  line-height: 8rem;
  margin-bottom: 5rem;
}

.text-box__hello {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1.1rem;
}
@media (max-width: 900px) {
  .text-box__hello {
    letter-spacing: 0.9rem;
  }
}
@media (max-width: 665px) {
  .text-box__hello {
    font-size: 2.1rem;
  }
}
@media (max-width: 570px) {
  .text-box__hello {
    letter-spacing: 0.7rem;
  }
}
@media (max-width: 525px) {
  .text-box__hello {
    letter-spacing: 0.3rem;
  }
}
@media (max-width: 385px) {
  .text-box__hello {
    letter-spacing: 0;
    font-size: 2.4rem;
  }
}
@media (max-width: 345px) {
  .text-box__hello {
    font-size: 1.9rem;
  }
}

.text-box__name {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
}
@media (max-width: 900px) {
  .text-box__name {
    letter-spacing: 0.2rem;
  }
}
@media (max-width: 665px) {
  .text-box__name {
    font-size: 4.3rem;
  }
}
@media (max-width: 570px) {
  .text-box__name {
    font-size: 4.1rem;
  }
}
@media (max-width: 525px) {
  .text-box__name {
    font-size: 2.9rem;
  }
}
@media (max-width: 385px) {
  .text-box__name {
    font-size: 2.6rem;
  }
}
@media (max-width: 345px) {
  .text-box__name {
    font-size: 1.9rem;
  }
}

.social {
  font-size: 5rem;
}

.social__link:link,
.social__link:visited {
  display: inline-block;
  text-decoration: none;
  color: white;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: relative;
}
@media (max-width: 525px) {
  .social__link:link,
  .social__link:visited {
    width: 4.9rem;
    height: 4.9rem;
  }
}

.social__link::after {
  content: "";
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: white;
  transform: scale(0);
  transition: all 0.3s ease-in;
}
@media (max-width: 525px) {
  .social__link::after {
    width: 4.9rem;
    height: 4.9rem;
  }
}

.social__icon {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.social__link:hover::after {
  transform: scale(1);
}

.social__link:hover .social__icon--linkedin {
  color: rgb(31, 93, 207);
}

.social__link:hover .social__icon--github {
  color: rgb(31, 29, 29);
}

.mouse-scroll {
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mouse-scroll__link {
  display: inline-block;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.mouse-scroll__link::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(173, 226, 67);
  transform: scale(0);
  transition: all 0.3s ease-in;
}

.mouse-scroll__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 2.6rem;
  z-index: 1;
}

.mouse-scroll:hover .mouse-scroll__link::after {
  transform: scale(1);
}

/* Header */

/* Project */

.project {
  text-align: center;
}

.project__section-heading {
  font-size: 5rem;
}
@media (max-width: 1000px) {
  .project__section-heading {
    font-size: 4.5rem;
  }
}
@media (max-width: 600px) {
  .project__section-heading {
    font-size: 4.1rem;
  }
}

.project__section-heading:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 5.6em;
  height: 0.25rem;
  background-color: yellowgreen;
}

.project__box {
  text-align: center;
  padding-top: 5rem;
}

.project__vdo {
  border-radius: 1rem;
  margin-bottom: 5rem;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.12),
    5px 6px 5px rgba(0, 0, 0, 1);
}
.project__vdo--dim {
  width: 27em;
}
@media (max-width: 750px) {
  .project__vdo--dim {
    width: 28.2em;
  }
}
@media (max-width: 650px) {
  .project__vdo--dim {
    width: 28.5em;
  }
}
@media (max-width: 600px) {
  .project__vdo--dim {
    width: 24.5em;
  }
}
@media (max-width: 500px) {
  .project__vdo--dim {
    width: 20em;
  }
}

.project__info {
  font-size: 2.9rem;
  text-align: center;
  font-weight: 300;
  margin: 0 18rem;
}
@media (max-width: 550px) {
  .project__info {
    margin: 0 auto;
  }
}

.project__title {
  display: inline-block;
  font-size: 3.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.project__title i {
  background: linear-gradient(120deg, rgb(219, 219, 20), yellowgreen);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 600;
}

.project__para {
  line-height: 4rem;
  margin: 0 5rem 1.5rem 5rem;
}

.project__para span {
  display: block;
}

.project__para span i {
  color: yellowgreen;
}

.project__btn:link,
.project__btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.2rem;
  color: yellowgreen;
  padding: 0.3rem;
  border-radius: 0.2rem;
  border-bottom: 0.1rem solid yellowgreen;
  transition: all 0.5s ease;
}

.project__btn:hover {
  background-color: rgba(153, 205, 50, 0.904);
  color: white;
}

/* Project */

/* Skill */

.skill {
  margin-bottom: 30rem;
}

.skill-heading {
  font-size: 5rem;
  text-align: center;
}
@media (max-width: 1000px) {
  .skill-heading {
    font-size: 4.5rem;
  }
}
@media (max-width: 600px) {
  .skill-heading {
    font-size: 4.1rem;
  }
}

.skill-heading:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 4em;
  height: 0.25rem;
  background-color: yellowgreen;
}

.skill__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17%;
  margin: 0 15%;
}

/* Skill */

/* Bio */

.bio {
}

.bio-box {
  padding: 5rem 4rem;
  width: 85%;
  margin: 0 auto;
}
@media (max-width: 700px) {
  .bio-box {
    text-align: center;
  }
}

.bio-heading {
  font-size: 5rem;
  text-align: center;
}

.bio-heading:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 4.5em;
  height: 0.25rem;
  background-color: yellowgreen;
}
@media (max-width: 1000px) {
  .bio-heading {
    font-size: 4.5rem;
  }
}
@media (max-width: 600px) {
  .bio-heading {
    font-size: 4.1rem;
  }
}

.img {
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  margin: 0 5rem 5rem 0;
}
@media (max-width: 700px) {
  .img {
    float: none;
    margin-bottom: 3rem;
    -webkit-shape-outside: none;
    shape-outside: none;
    margin-right: 0;
  }
}

.img-content {
  width: 26rem;
}
@media (max-width: 700px) {
  .img-content {
    border-radius: 50%;
  }
}

.bio__content {
  font-size: 3.2rem;
  text-align: left;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-weight: 300;
}
@media (max-width: 700px) {
  .bio-content {
    text-align: center;
  }
}
/* Footer */

.footer {
  text-align: center;
}

.footer-content {
}

.footer-heading {
  font-family: "Ruthie", cursive;
  font-size: 7rem;
  position: relative;
}
@media (max-width: 620px) {
  .footer-heading {
    font-size: 6.4rem;
  }
}
@media (max-width: 430px) {
  .footer-heading {
    font-size: 4.6rem;
  }
}

.footer-heading::before {
  content: "";
  display: inline-block;
  width: 38%;
  height: 0.3rem;
  background-color: yellowgreen;
  position: absolute;
  top: 50%;
  left: 1%;
}
@media (max-width: 1370px) {
  .footer-heading::before {
    width: 36.5%;
  }
}
@media (max-width: 1140px) {
  .footer-heading::before {
    width: 34.5%;
  }
}
@media (max-width: 1000px) {
  .footer-heading::before {
    width: 32.5%;
  }
}
@media (max-width: 840px) {
  .footer-heading::before {
    width: 30%;
  }
}
@media (max-width: 735px) {
  .footer-heading::before {
    width: 27%;
  }
}
@media (max-width: 625px) {
  .footer-heading::before {
    width: 24.5%;
  }
}
@media (max-width: 490px) {
  .footer-heading::before {
    width: 21.5%;
  }
}

.footer-heading::after {
  content: "";
  display: inline-block;
  width: 38%;
  height: 0.3rem;
  background-color: yellowgreen;
  position: absolute;
  top: 50%;
  right: 1%;
}
@media (max-width: 1370px) {
  .footer-heading::after {
    width: 36.5%;
  }
}
@media (max-width: 1140px) {
  .footer-heading::after {
    width: 34.5%;
  }
}
@media (max-width: 1000px) {
  .footer-heading::after {
    width: 32.5%;
  }
}
@media (max-width: 840px) {
  .footer-heading::after {
    width: 30%;
  }
}
@media (max-width: 735px) {
  .footer-heading::after {
    width: 27%;
  }
}
@media (max-width: 655px) {
  .footer-heading::after {
    width: 24.5%;
  }
}
@media (max-width: 490px) {
  .footer-heading::after {
    width: 21.5%;
  }
}

.footer__mail-box {
  margin: 0 auto;
  margin-bottom: 3rem;
  margin-bottom: 7rem;
}

.footer__mail-para {
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.footer__link:link,
.footer__link:visited {
  font-size: 2.8rem;
  text-decoration: none;
  color: white;
  padding: 1.5rem 3rem;
  background-color: yellowgreen;
  border-radius: 3rem;
  position: relative;
  z-index: 1;
}

.footer__link::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 3rem;
  background-color: yellowgreen;
  z-index: -1;
  transition: all 0.5s ease;
}

.footer__link:hover::after {
  transform: scale(1.4, 1.4);
  opacity: 0;
}

.copyright {
  background-color: yellowgreen;
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem;
  margin-top: 4rem;
}

/* Footer */

/* hr */

hr {
  margin: 0 auto;
  border: dotted rgba(153, 205, 50, 0.8) 10px;
  border-bottom: 0;
  width: 7rem;
}

/* hr */
/* @media (max-width: 37.5em) {
  
}
0-600px    : Phone
600-900px  : Tablet Portrait
900-1200px : Tablet Landscape
1200-1800px where our normal styles apply
1800px     : Big Desktop */

/* @media (max-width: 900px) {
  html {
    font-size: 53.9%;
  }
} */
/*
@media (max-width: 780px) {
  .project__vdo--dim {
    width: 24.2em;
  }
}
@media (max-width: 680px) {
  .project__vdo--dim {
    width: 80%;
  }
} */
/* @media (max-width: 37.5em) {
}
@media (max-width: 37.5em) {
} */
